sudo: false
language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
env:
  - SQLOBJECT='sqlobject>=1.5.0,<1.6.0' DB='all'
  - SQLOBJECT='sqlobject>=1.6.0,<1.7.0' DB='all'
  - SQLOBJECT='sqlobject>=1.7.0,<1.8.0' DB='all'
  - SQLOBJECT='sqlobject>=2.0.0,<2.1.0' DB='all'
  - SQLOBJECT='sqlobject>=2.1.0,<2.2.0' DB='all'
  - SQLOBJECT='sqlobject>=2.2.0,<2.3.0' DB='all'
  - SQLOBJECT='sqlobject>=3.0.0,<3.1.0' DB='all'
  - SQLOBJECT='sqlobject>=3.1.0,<3.2.0' DB='all'
  - SQLOBJECT='sqlobject>=3.2.0,<3.3.0' DB='all'
  - SQLOBJECT='sqlobject>=3.3.0,<3.4.0' DB='all'
  - PEEWEE='peewee>=2.2.0,<2.3.0' DB='all'
  - PEEWEE='peewee>=2.3.0,<2.4.0' DB='all'
  - PEEWEE='peewee>=2.4.0,<2.5.0' DB='all'
  - PEEWEE='peewee>=2.5.0,<2.6.0' DB='all'
  - PEEWEE='peewee>=2.6.0,<2.7.0' DB='all'
  - PEEWEE='peewee>=2.7.0,<2.8.0' DB='all'
  - PEEWEE='peewee>=2.8.0,<2.9.0' DB='all'
  - PEEWEE='peewee>=2.9.0,<2.10.0' DB='all'
  - PONY='pony>=0.5.0,<0.6.0' DB='all'
  - PONY='pony>=0.6.0,<0.7.0' DB='all'
  - PONY='pony>=0.7.0,<0.8.0' DB='all'
  - SQLALCHEMY='sqlalchemy>=1.0.0,<1.1.0' DB='all'
  - SQLALCHEMY='sqlalchemy>=1.1.0,<1.2.0' DB='all'
  - DJANGO='django>=1.4.0,<1.5.0' DB='all'
  - DJANGO='django>=1.5.0,<1.6.0' DB='all'
  - DJANGO='django>=1.6.0,<1.7.0' DB='all'
  - DJANGO='django>=1.7.0,<1.8.0' DB='all'
  - DJANGO='django>=1.8.0,<1.9.0' DB='all'
  - DJANGO='django>=1.9.0,<1.10.0' DB='all'
  - DJANGO='django>=1.10.0,<1.11.0' DB='all'
  - DJANGO='django>=1.11.0,<1.12.0' DB='all'
matrix:
  fast_finish: true
  exclude:
    - python: 3.4
      env: SQLOBJECT='sqlobject>=1.5.0,<1.6.0' DB='all'
    - python: 3.4
      env: SQLOBJECT='sqlobject>=1.6.0,<1.7.0' DB='all'
    - python: 3.4
      env: SQLOBJECT='sqlobject>=1.7.0,<1.8.0' DB='all'
    - python: 3.4
      env: SQLOBJECT='sqlobject>=2.0.0,<2.1.0' DB='all'
    - python: 3.4
      env: SQLOBJECT='sqlobject>=2.1.0,<2.2.0' DB='all'
    - python: 3.4
      env: SQLOBJECT='sqlobject>=2.2.0,<2.3.0' DB='all'
    - python: 3.5
      env: SQLOBJECT='sqlobject>=1.5.0,<1.6.0' DB='all'
    - python: 3.5
      env: SQLOBJECT='sqlobject>=1.6.0,<1.7.0' DB='all'
    - python: 3.5
      env: SQLOBJECT='sqlobject>=1.7.0,<1.8.0' DB='all'
    - python: 3.5
      env: SQLOBJECT='sqlobject>=2.0.0,<2.1.0' DB='all'
    - python: 3.5
      env: SQLOBJECT='sqlobject>=2.1.0,<2.2.0' DB='all'
    - python: 3.5
      env: SQLOBJECT='sqlobject>=2.2.0,<2.3.0' DB='all'
    - python: 3.6
      env: SQLOBJECT='sqlobject>=1.5.0,<1.6.0' DB='all'
    - python: 3.6
      env: SQLOBJECT='sqlobject>=1.6.0,<1.7.0' DB='all'
    - python: 3.6
      env: SQLOBJECT='sqlobject>=1.7.0,<1.8.0' DB='all'
    - python: 3.6
      env: SQLOBJECT='sqlobject>=2.0.0,<2.1.0' DB='all'
    - python: 3.6
      env: SQLOBJECT='sqlobject>=2.1.0,<2.2.0' DB='all'
    - python: 3.6
      env: SQLOBJECT='sqlobject>=2.2.0,<2.3.0' DB='all'
    - python: 3.4
      env: DJANGO='django>=1.4.0,<1.5.0' DB='all'
    - python: 3.5
      env: DJANGO='django>=1.4.0,<1.5.0' DB='all'
    - python: 3.5
      env: DJANGO='django>=1.5.0,<1.6.0' DB='all'
    - python: 3.5
      env: DJANGO='django>=1.6.0,<1.7.0' DB='all'
    - python: 3.5
      env: DJANGO='django>=1.7.0,<1.8.0' DB='all'
    - python: 3.6
      env: DJANGO='django>=1.4.0,<1.5.0' DB='all'
    - python: 3.6
      env: DJANGO='django>=1.5.0,<1.6.0' DB='all'
    - python: 3.6
      env: DJANGO='django>=1.6.0,<1.7.0' DB='all'
    - python: 3.6
      env: DJANGO='django>=1.7.0,<1.8.0' DB='all'
    - python: 3.4
      env: PONY='pony>=0.5.0,<0.6.0' DB='all'
    - python: 3.5
      env: PONY='pony>=0.5.0,<0.6.0' DB='all'
    - python: 3.6
      env: PONY='pony>=0.5.0,<0.6.0' DB='all'
    - python: 3.6
      env: PONY='pony>=0.6.0,<0.7.0' DB='all'
before_script:
  - psql -c 'create database architect;' -U postgres
  - mysql -e 'create database architect;' -u root
services:
  - postgresql
  - mysql
install:
  - travis_retry pip install -r tests/requirements.txt
  - travis_retry pip install coveralls psycopg2 pymysql
  - if [[ $DJANGO ]]; then travis_retry pip install $DJANGO; fi
  - if [[ $PEEWEE ]]; then travis_retry pip install $PEEWEE; fi
  - if [[ $PONY ]]; then travis_retry pip install $PONY; fi
  - if [[ $SQLALCHEMY ]]; then travis_retry pip install $SQLALCHEMY; fi
  - if [[ $SQLOBJECT ]]; then travis_retry pip install $SQLOBJECT; fi
script:
  - nosetests --with-coverage --cover-erase --cover-package=architect
after_success:
  - coveralls
