a.reference.external.image-reference {
    text-decoration: none;
    border-bottom: 0;
}

pre {
    padding-left: 15px;
}

dl pre, blockquote pre {
    margin-left: -30px;
    padding-left: 15px;
}

dl dl pre, li pre {
    margin-left: 0;
    padding-left: 15px;
}

.highlight .go {
    color: #888888;
}
